body {
    background-color: #1a1a1a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

h1 {
    margin-left: 500px;
    color: yellow;
}

h2{
    color: crimson;
    margin: 20px;
}

p{
    color: yellow;
    margin: 20px;
}

img {
    width: 350px;
    height: 350px;
    margin-left: 500px;
    /* padding: 10px 10px; */
    /* background-color: #313131; */
}

.ingredients {
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #313131;
    color: crimson;
    border: 1px solid crimson;
    border-radius: 5px;
}

.directions {
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: #313131;
    color: lightblue;
    border: 1px solid lightblue;
    border-radius: 5px;
}

button {
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: #313131;
}

a {
    color: yellow;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}